#validation-errors{
	display:none;
	margin:0 2px;
}
#loading{
	display:none;
	margin:25%;
}

#img{
    width: 17px;
    border: none;
    height:17px;
    margin-left: -20px;
    margin-bottom: 91px;
}



.abcd img{
    height:100px;
    width:100px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}
